<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
        initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="Restaurants">LukReserve</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="ReservationStatus">Rezervacijų priėmimas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="ActiveReservations">Aktyvios rezervacijos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="Restaurant">Restorano pridėjimas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="RestaurantUpdate">Restorano informacijos redagavimas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="UserUpdate">Vartotojo informacijos redagavimas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="Login">Atsijungti</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Restaurant list -->
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col border border-2 rounded-3 border-dark">
                <h1 class="display-7 text-center text-dark">Laukiama peržiūros</h1>
                <div class="col">
                    <!-- List group-->
                    <ul class="list-group shadow">
                        <!-- list group item-->
                        <%reservationsList.forEach(reservation => {%>
                        <%if(reservation.status === 'Peržiūrima') {%>
                        <li class="list-group-item border border-2 rounded-3 border-dark">
                            <!-- Custom content-->
                            <div class="flex-lg-row p-3">
                                <div class="flex-lg-row p-3">
                                    <div class="media-body order-2 order-lg-1">
                                        <h5 class="mt-0 mb-2 text-dark"><b>Restoranas: </b><%=reservation.restaurantName%>
                                        </h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Laikas:
                                            </b><%=reservation.reservationDate.toLocaleString('lt-LT')%></h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Vietos: </b><%=reservation.numberOfSeats%>
                                        </h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Komentaras: </b><%=reservation.comment%></h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Būklė: </b><%=reservation.status%></h5>
                                        <div class="d-flex align-items-center justify-content-between mt-1">
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                    <%})%>
                            </div> <!-- End -->
                    </ul> <!-- End -->
                </div>
            </div>
            <div class="col border border-2 rounded-3 border-dark">
                <h1 class="display-7 text-center text-dark">Priimta</h1>
                <div class="col">
                    <!-- List group-->
                    <ul class="list-group shadow">
                        <!-- list group item-->
                        <%reservationsList.forEach(reservation => {%>
                        <%if(reservation.status === 'Priimta') {%>
                        <li class="list-group-item border border-2 rounded-3 border-dark">
                            <!-- Custom content-->
                            <div class="flex-lg-row p-3">
                                <div class="flex-lg-row p-3">
                                    <div class="media-body order-2 order-lg-1">
                                        <h5 class="mt-0 mb-2 text-dark"><b>Restoranas: </b><%=reservation.restaurantName%>
                                        </h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Laikas:
                                            </b><%=reservation.reservationDate.toLocaleString('lt-LT')%></h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Vietos: </b><%=reservation.numberOfSeats%>
                                        </h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Komentaras: </b><%=reservation.comment%></h5>
                                        <h5 class="mt-0 mb-2" style="color:green"><b>Būklė: </b><%=reservation.status%></h5>
                                        <div class="d-flex align-items-center justify-content-between mt-1">
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                    <%})%>
                            </div> <!-- End -->
                    </ul> <!-- End -->
                </div>
            </div>
            <div class="col border border-2 rounded-3 border-dark">
                <h1 class="display-7 text-center text-dark">Atmesta</h1>
                <div class="col">
                    <!-- List group-->
                    <ul class="list-group shadow">
                        <!-- list group item-->
                        <%reservationsList.forEach(reservation => {%>
                        <%if(reservation.status === 'Atmesta') {%>
                        <li class="list-group-item border border-2 rounded-3 border-dark">
                            <!-- Custom content-->
                            <div class="flex-lg-row p-3">
                                <div class="flex-lg-row p-3">
                                    <div class="media-body order-2 order-lg-1">
                                        <h5 class="mt-0 mb-2 text-dark"><b>Restoranas: </b><%=reservation.restaurantName%>
                                        </h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Laikas:
                                            </b><%=reservation.reservationDate.toLocaleString('lt-LT')%></h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Vietos: </b><%=reservation.numberOfSeats%>
                                        </h5>
                                        <h5 class="mt-0 mb-2 text-dark"><b>Komentaras: </b><%=reservation.comment%></h5>
                                        <h5 class="mt-0 mb-2" style="color:red"><b>Būklė: </b><%=reservation.status%></h5>
                                        <div class="d-flex align-items-center justify-content-between mt-1">
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                    <%})%>
                            </div> <!-- End -->
                    </ul> <!-- End -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>